<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kotlinpractice.mapper.AddressMapper">
  <insert id="insert" parameterType="com.example.kotlinpractice.entity.input.InsertAddressInput">
    INSERT INTO addresses (
    first_name,
    last_name,
    first_name_kana,
    last_name_kana,
    birthday,
    gender,
    email,
    prefecture_id,
    city,
    block,
    building,
    phone_number,
    created_at,
    deleted
    ) VALUES (
    #{address.firstName,jdbcType=VARCHAR},
    #{address.lastName,jdbcType=VARCHAR},
    #{address.firstNameKana,jdbcType=VARCHAR},
    #{address.lastNameKana,jdbcType=VARCHAR},
    #{address.birthday,jdbcType=DATE},
    #{address.gender}::gender,
    #{address.email,jdbcType=VARCHAR},
    #{address.prefectureId,jdbcType=INTEGER},
    #{address.city,jdbcType=VARCHAR},
    #{address.block,jdbcType=VARCHAR},
    #{address.building,jdbcType=VARCHAR},
    #{address.phoneNumber,jdbcType=VARCHAR},
    CURRENT_TIMESTAMP,
    false
    )
  </insert>
  <select id="selectById" parameterType="_int" resultMap="addressMap" >
    SELECT
    addresses.id AS address_id,
    first_name,
    last_name,
    first_name_kana,
    last_name_kana,
    birthday,
    gender,
    email,
    city,
    block,
    building,
    phone_number,
    created_at,
    updated_at,
    deleted_at,
    deleted,
    prefectures.id AS prefecture_id,
    prefectures.name AS prefecture_name,
    prefectures.name_kana AS prefecture_name_kana
    FROM addresses
    JOIN prefectures ON addresses.prefecture_id = prefectures.id
    WHERE addresses.id = #{id}
  </select>
  <resultMap id="addressMap" type="com.example.kotlinpractice.entity.Address">
    <id column="address_id" property="id" />
    <result column="first_name" property="firstName" />
    <result column="last_name" property="lastName" />
    <result column="first_name_kana" property="firstNameKana" />
    <result column="last_name_kana" property="lastNameKana" />
    <result column="birthday" property="birthday" />
    <result column="gender" property="gender" />
    <result column="email" property="email" />
    <result column="city" property="city" />
    <result column="block" property="block" />
    <result column="building" property="building" />
    <result column="phone_number" property="phoneNumber" />
    <result column="created_at" property="createdAt" />
    <result column="updated_at" property="updatedAt" />
    <result column="deleted_at" property="deletedAt" />
    <result column="deleted" property="deleted" />
    <association property="prefecture" javaType="com.example.kotlinpractice.entity.Prefecture">
      <id column="prefecture_id" property="id" />
      <result column="prefecture_name" property="name" />
      <result column="prefecture_name_kana" property="nameKana" />
    </association>
  </resultMap>
</mapper>